/* reset */

*{
    /* propiedad para el espacio externo */
    margin: 0;
    /* propiedad para el espacio interno */
    padding: 0;

    box-sizing: border-box;
}

body{
    font-family: 'Lilita One', cursive;
    color: rgb(39, 39, 39);
    font-size: 1.2rem;
}

/* ESTILOS DE HEADER */

header{
    background-color: rgb(215, 236, 254);
    display: flex;
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
}

header .btn img{
    width: 20px;
    height: 20px;
}

header .contenedorLogo img{
    width: 25vh;
    margin-top: -0.8rem;
}


header nav ul li a{
    color: rgb(20, 20, 20);
    text-decoration: none;
}

/* Estilos del main */


/* main .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
} */


/* Estilos del footer */

footer{
    background-color: rgb(255, 200, 221);
}


.iconosRedes{
    
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 15px;
}
