/* reset */

*{
    /* propiedad para el espacio externo */
    margin: 0;
    /* propiedad para el espacio interno */
    padding: 0;

    box-sizing: border-box;
}

body{
    font-family: 'Lilita One', cursive;
    color: rgb(39, 39, 39);
    font-size: 1.2rem;
}

/* ESTILOS DE HEADER */

header{
    background-color: rgb(215, 236, 254);
    display: flex;
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
}

header .btn img{
    width: 20px;
    height: 20px;
}

header .contenedorLogo img{
    width: 22vh;
    margin-top: -0.8rem;
}


header nav ul li a{
    color: rgb(20, 20, 20);
    text-decoration: none;
}

header .navSoloCelular{
    display: none;
}

header .contenedorLogo2{
    width: 50%;
}



/*//////////////////// Estilos del main //////////////// */


/* ANIMACION */

.img-ninios {
    transition: 0.5s;
}

.img-ninios:hover {
    transform: scale(1.1);
    opacity: 70%;
    transition: 0.5s;
}

main .columnaInfo{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

main .iconosMain{
    width: 16%;
    display: block;
    margin: 0 auto;
}

/* main .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
} */


/* Estilos del footer */

footer{
    background-color: rgb(255, 200, 221);
}


.iconosRedes{
    
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 15px;
}

/* MQ DE TABLET (EN PROCESO)*/

@media screen and (max-width:1024px) {

    header .contenedorLogo img{
        width: 15vh;
        margin-top: -0.8rem;
    }

    header .navSoloCelular {
        display: block;
    }

    header .buscador {
        display: none;
    }

    header .segundaFilaHeader {
        display: none;
    }

   
}
/* MQ de MOBILE */


@media screen and (max-width:576px) {

    header .contenedorLogo img{
        width: 15vh;
        margin-top: -0.8rem;
    }

    header .navSoloCelular {
        display: block;
    }

    header .buscador {
        display: none;
    }

    header .segundaFilaHeader {
        display: none;
    }

   
}