/* MQ de Celular de productos */
@import "../utilidades/mixin";

.main-productos{
    .fila-filtradores{
        p{
            display: none;
        }
        #filtrador{
            font-size: 0.8rem;
            option{
                font-size: 0.6rem;
            }
        }
        #filtrador-dos{
            font-size: 0.8rem;
            option{
                font-size: 0.6rem;
            }
        }
    }

    .contenedor-grilla-productos{
        @include grid-parametros(repeat(2,1fr),repeat(25,1fr));
    }
}

